name: hub_management

services:
  traefik:
    image: traefik:v3.6
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--log.level=DEBUG"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped
    networks:
      - hub_network

  hub_manager_db_2:
    image: postgres:14-alpine3.17
    container_name: hub_db_2
    volumes:
      - hub_db_data_2:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: hub_db
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres" ]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s
    expose:
      - "5432"
    restart: unless-stopped
    networks:
      - hub_network

  hub_manager_service_2:
    build: .
    container_name: hub_manager_service_2
    ports:
      - "8081:8081"
    depends_on:
      traefik:
        condition: service_started
      hub_manager_db_2:
        condition: service_healthy
    environment:
      KAFKA_SERVER: http://host.docker.internal:9001
      KAFKA_TOPIC: hub_state
      KAFKA_KEY: hub_2
      SIMULATION_WEBSOCKET_URL: ws://host.docker.internal:9000/ws/simulation
      SIMULATION_API_BASE_URL: http://host.docker.internal:9000/api
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_URL: jdbc:postgresql://hub_manager_db_2:5432/hub_db
      HUB_TARGET: hub_2
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.hub-2.rule=PathPrefix(`/api/hub_2`)"
      - "traefik.http.routers.hub-2.entrypoints=web"
      - "traefik.http.services.hub-2.loadbalancer.server.port=8081"

      # Solo path replacement - CORS gestito da Spring Boot
      - "traefik.http.middlewares.hub-2-replace.replacepathregex.regex=^/api/hub_2(.*)"
      - "traefik.http.middlewares.hub-2-replace.replacepathregex.replacement=/api/hub$$1"
      - "traefik.http.routers.hub-2.middlewares=hub-2-replace"
    networks:
      - hub_network

volumes:
  hub_db_data_2:

networks:
  hub_network:
    driver: bridge