name: hub_manager

services:
  hub_manager_db:
    image: postgres:14-alpine3.17
    container_name: hub_db
    volumes:
      - hub_db_data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: hub_db
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres" ]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s
    expose:
      - "5432"
    restart: unless-stopped

  hub_manager_service:
    build: .
    container_name: hub_manager_service
    ports:
      - "8081:8081"
    depends_on:
      - hub_manager_db
    environment:
      KAFKA_SERVER: http://host.docker.internal:9000
      SIMULATION_WEBSOCKET_URL: ws://host.docker.internal:8080/ws/simulation
      SIMULATION_API_BASE_URL: http://host.docker.internal:8080/api
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_URL: jdbc:postgresql://hub_manager_db:5432/hub_db
      HUB_TARGET: hub_2
    restart: unless-stopped

volumes:
  hub_db_data: